<pre>
  Angular Web App<span style="color: #a7a7a7"> - C#, TypeScript, HTML</span>
  <span style="font-size: 0.7rem; color: #a7a7a7">2024</span>

  Raspberry Pi Nintendo Switch Imp.<span style="color: #a7a7a7"> - Python</span>
  <span style="font-size: 0.7rem; color: #a7a7a7">2019, 2022</span>

  Unity Game Mods<span style="color: #a7a7a7"> - C#</span>
  <span style="font-size: 0.7rem; color: #a7a7a7">2019 - 2024</span>

  Discord Bot<span style="color: #a7a7a7"> - C#</span>
  <span style="font-size: 0.7rem; color: #a7a7a7">2018</span>
</pre>
