pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 0 1rem;
  margin: 0;
  max-width: 100%;
  height: auto;
  white-space: pre-wrap; /* Since CSS 2.1 */
}

.year {
  font-size: 0.7rem;
  color: #a7a7a7;
}

.company {
  color: #a7a7a7;
}

.details {
  font-size: 0.8rem;
  color: #81b2ff;
}
