<pre>
  Software Engineer<span class="company"> - TaxCloud LLC</span>
  <span class="year">September 2022 - December 2023</span>
  <span class="details">
    Worked on internal and client-side Angular apps, generated financial reports,
    ran SQL queries and operated our manual billing system.
  </span>

  Developer Support Liason<span class="company"> - TaxCloud LLC</span>
  <span class="year">June 2022 - September 2023</span>
  <span class="details">
    Worked with both support and development to isolate and eliminate small
    issues while reporting and organizing larger issues to our senior developers.
  </span>

  Java SDET Trainee<span class="company"> - MThree</span>
  <span class="year">Jan 2022 - March 2022</span>
  <span class="details">
    Worked on and studied React applications, ran SQL queries
    and managed database operations.
  </span>

  Front End<span class="company"> - Haggen Food & Pharmacy</span>
  <span class="year">May 2018 - Jan 2019</span>
  <span class="details">
    Checked and bagged groceries, helped direct customers
    and managed money after shifts.
  </span>
</pre>
