pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
  max-width: 100%;
  height: auto;
  white-space: pre-wrap; /* Since CSS 2.1 */
}

.img-container {
  display: flex;
  width: 96%;
  flex-wrap: wrap;
  padding-right: 0 !important;
  overflow: hidden;
}

.img-wrap {
  display: inline-block;
  height: 10vw;
  width: 10vw;
  min-height: 100px;
  min-width: 100px;
  padding: 0;
}
