<pre class="img-container">
<img src="./assets/modifiedLogo750.png" height="200" width="200" class="img-wrap" />
<img src="./assets/meetingman.PNG" height="200" width="200" class="img-wrap" />
<img src="./assets/meNotAnimated.PNG" height="200" width="200" class="img-wrap" />
<img src="./assets/professional.png" height="200" width="200" class="img-wrap" />
<img src="./assets/me.png" height="200" width="200" class="img-wrap" />
<img src="./assets/dissapoint.png" height="200" width="200" class="img-wrap" />
<img src="./assets/Screenshot_20230428-220310_Snapchat.jpg" height="200" width="200" class="img-wrap" />
<img src="./assets/virus.PNG" height="200" width="200" class="img-wrap" />
<img src="./assets/21-4-12 Saint MartinsIMG_0177.jpg" height="200" width="200" class="img-wrap" />
</pre>
