/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
  height:100vh;
  background-color: #121b39ec;
  /*  background: linear-gradient( 180deg, #2cc4d0ff 0%, #0c539aff 100% ) fixed;
  background-repeat: no-repeat;*/
}
